.navid-enter {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
    transition: all 700ms linear;
    height: 0;
}

.navid-enter-active {
    transform: translateY(0%) scale(1);
    opacity: 1;
    height: 150px !important;
}

.navid-exit {
    transition: all 500ms linear;
    display: flex;
}
.navid-exit-active {
    transform: translateY(50%) scale(0.5);
    opacity: 0;
    transition: all 500ms linear;
}