.navid-enter {
  opacity: 0;
  transform: translateY(-50%) scale(0.5);
  transition: all 700ms linear;
  height: 0;
}

.navid-enter-active {
  transform: translateY(0%) scale(1);
  opacity: 1;
  height: 55px !important;
}
.navid-exit {
  transform: translateY(50%) scale(0.5);
  transition: all 700ms linear;
  display: flex;
}
.navid-exit-active {
  /*transform: translateY(40%) scale(0.2);*/
  transition: all 700ms linear;
  opacity: 0;
}
