.navid-enter {
  opacity: 0;
  transform: translateY(+50%);
}

.navid-enter-active {
  transition: all 2000ms linear;
  opacity: 1;

}
.navid-exit {
  opacity: 1;
}
.navid-exit-active {
  max-height: 0;
  overflow-y: hidden;
  transition: opacity 2000ms linear;
  opacity: 0;
  transform: translateY(-50%);
}
